.status-bar {
  display: flex;
  gap: 4px;
  position: relative;
  padding-right: 30px;
  padding-left: 20px;
  justify-content: space-between;
}

.status-item {
  display: flex;
  align-items: center;
  padding: 3px 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8rem;
}

.status-item .count {
  margin-right: 5px;
}

.status-item.all {
  background-color: #5ea9dd;
  color: white;
}

.status-item.running {
  background-color: #89d08b;
  color: black;
}

.status-item.stopped {
  background-color: #e86f66;
  color: black;
}

.status-item.overspeed {
  background-color: #f5a26f;
  color: black;
}

.status-item.idle {
  background-color: #f6c66b;
  color: black;
}

.status-item.inactive {
  background-color: #000000;
  color: white;
}

/* Screen size 912px */
@media (max-width: 912px) {
  .status-bar {
    width: 570px;
    gap: 100px;
  }
}

/* Screen size 820px */

@media (max-width: 820px) {
  .status-item {
    font-size: 0.7rem !important;
    padding-right: 2px;
    padding-left: 2px;
    gap: 1px !important;
  }
  .status-bar {
    gap: 1px !important;
    width: 100%;
    padding-right: 2px !important ;
    padding-left: 2px !important;
  }
}

/* Screen size 1024px */

@media (max-width: 1024px) {
  .status-item {
    font-size: 0.9rem !important;
    padding-right: 2px;
    padding-left: 2px;
  }
  .status-bar {
    gap: 5px !important;
    padding-right: 5px;
    padding-left: 5px;
  }
}

/* Screen size 1280px */
@media (max-width: 1280px) {
  .status-item {
    font-size: 0.7rem;
  }
  .status-bar {
    padding-right: 15px;
    padding-left: 15px;
  }
}
